<div class="container">
  <header>
    <div class="logo">
      <img src="/assests/logo.svg" alt="Conference logo" width="90" height="28">
    </div>
    <nav data-nav class="primary-navigation" aria-labelledby="primary-navigation">
      <h2 id="primary-navigation" class="visually-hidden">Primary website navigation</h2>
      <button data-nav-toggle class="nav-toggle" aria-expanded="false" aria-controls="nav-menu">Menu</button>
      <ul id="nav-menu" role="menu" data-nav-menu class="menu list-plain" hidden>
        <li>
          <a role="menuitem" href="#">Home</a>
        </li>
        <li>
          <a role="menuitem" href="#">Schedule</a>
        </li>
        <li>
          <a role="menuitem" href="#">Speakers</a>
        </li>
        <li>
          <a role="menuitem" href="#">About</a>
        </li>
        <li>
          <a role="menuitem" class="button hollow" href="#">Buy tickets</a>
        </li>
      </ul>
    </nav>
  </header>
</div>