button,
.button {
  display: inline-block;
  padding: var(--s-100);
  min-height: 3rem;
  line-height: 1;
  font-size: var(--fs-100);
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-100);
  font-weight: 700;
  background: var(--c-primary);
  color: var(--c-white);
  transition: box-shadow 0.2s ease-in-out 0s;

  &:hover {
    box-shadow: var(--c-primary) 0px 1px 10px;
  }
}

a.button {
  text-decoration: none;
}
